* {
  margin: 0;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-color: #4bafbe;
  --secondary-color: #96d0d9;
  --text-color: #201e1f;
}
.darkMode {
  --primary-color: #266069;
  --secondary-color: #368996;
  --text-color: #feefdd;
}
#logo {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
  font-weight: 500;
}
label:hover {
  cursor: pointer;
  font-weight: 500;
}
header {
  height: 10vh;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}
form > input,
button,
label {
  margin: 2px;
  border: none;
}
form > input {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 1vh;
}
form > button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 1vh;
}

#mainContainer {
  width: 100vw;
  display: flex;
  position: relative;
  margin: 0 auto;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--primary-color);
}
#mainContainer div {
  width: 300px;
  max-height: 690px;
  overflow: auto;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 2vh;
}

footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: var(--secondary-color);
}
.footerPosition {
  position: fixed;
}

.noImgStyle {
  width: 100%;
}

.dmBtn > label {
  background-color: var(--primary-color);
  padding: 4px;
  border-radius: 2vh;
}
#switch {
  display: none;
}
